@tailwind components;
@tailwind utilities;

@layer utilities {
  .ActivityLogHeader {
    @apply font-cairo font-bold text-black;
  }
}

*{
  font-family: 'cairo' , sans-serif !important;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-primary.ant-input-search-button {
  background: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:focus {
  border-color: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #e30613;
  border-color: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #ffe6e6;
  border-color: #ffe6e6;
}

span.anticon.anticon-check.ant-steps-finish-icon {
  color: red;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
  background-color: #ff1616;
}


:where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:focus {
  border-color: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #ff1616;
}


.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
