@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.ant-btn.css-dev-only-do-not-override-pr0fja.ant-btn-primary.ant-input-search-button {
  background: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:focus {
  border-color: #e30613;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-pr0fja).ant-input-search .ant-input:focus {
  border-color: #e30613;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
